.main-content {
  padding: 0px !important;
}

.hero-shot {
  border-radius: 100%;
  object-fit: cover;
  width: 30%;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.6s ease;
}

.hero-shot.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.page-header {
  max-width: 80%;
  margin: 0 auto;
}

.page-body {
  max-width: 80%;
  margin: 0 auto;
}
