:root,
body.light {
  --primary: #5b6300;
  --on-primary: #ffffff;
  --primary-container: #dded49;
  --on-primary-container: #1a1d00;
  --secondary: #5e6044;
  --on-secondary: #ffffff;
  --secondary-container: #e4e5c1;
  --on-secondary-container: #1b1d07;
  --tertiary: #3c665a;
  --on-tertiary: #ffffff;
  --tertiary-container: #beecdc;
  --on-tertiary-container: #002019;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #feffd8;
  --on-background: #1c1c17;
  --surface: #fcf9f0;
  --on-surface: #1c1c17;
  --surface-variant: #e5e3d2;
  --on-surface-variant: #47483b;
  --outline: #787869;
  --outline-variant: #c8c7b7;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #31312b;
  --inverse-on-surface: #f3f1e8;
  --inverse-primary: #c1d02c;
  --surface-dim: #dcdad2;
  --surface-bright: #fcf9f0;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f6f3eb;
  --surface-container: #f1eee5;
  --surface-container-high: #ebe8df;
  --surface-container-highest: #e5e2da;
}
